APP_PORT=8080
BACKEND_PORT=8081
MYSQL_PORT=3306

MYSQL_DATABASE=inventory
MYSQL_USER=inventory
MYSQL_PASSWORD=inventory_dev_password
MYSQL_ROOT_PASSWORD=root_dev_password

JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0 -XX:+UseG1GC

JWT_SECRET=JDJ5JDEyJGlCY3hVdC9vQTdLOGZ3R2ptWDNXcWVCS0FlOXR6MmFGQjZ6emd2QU5EbFNERVFJZFMvYU1l
JWT_TTL_MINUTES=180
